.stackdev-section {
    background-color: #004AAD;
    color: #fff;
    padding: 160px 0;
  }
  .stackdev-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  
  .stackdev-col {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 70%;
    flex-basis: 50%;
  }
  
  .stackdev-text-wrapper {
    
    padding-top: 0;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .stackdev-heading {
    margin-bottom: 30px;
    color: #f7f8fa;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    text-align: center;
    width: 100%;
  }
  .stackdev-subtitle {
    max-width: 480px;
    margin-bottom: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.02em;
    margin-top: 6px;


  }
  

  
  
    .card{
      border: 10px solid #fff;
      background: #97BFFC;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      height: 316px;
      color : #004AAD;
      
    }
    .slick-slide > div{
      margin : 5px 20px;
    }
    .slick-list{
      margin : 0 -20px;


    }
    .card-bottom h1 {
      margin : 20px 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 58px;
      text-align: center;

    }
    .card-top > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-top: -10px;

      

    }
    .card-bottom{
      margin: 10px 20px;
    }
  
 
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .stackdev-text-wrapper {
      padding-bottom: 65px;
    }
  
    .stackdev-col {
      max-width: 100%;
      flex-basis: 100%;
    }
    .stackdev-img-wrapper{
        width: 100%;
    }
    .stackdev-img{
        width: 100%;

    }
    
    
  }