.prqrocketcoding-section {
    background-color: #004AAD;
    color: #fff;
    padding: 100px 0;
  }
  .prqrocketcoding-row {
    margin-top: -60px;
    align-items: center;
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  
  .prqrocketcoding-col {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .prqrocketcoding-text-wrapper {
    
    padding-top: 0;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .prqrocketcoding-heading {
    margin-bottom: 30px;
    color: #f7f8fa;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    text-align: center;
    width: 100%;
  }
  .prqrocketcoding-subtitle {
    margin-bottom: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.02em;
    margin-top: 6px;


  }
  
  .prqrocketcoding-img-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
  }
  
  .prqrocketcoding-img {
    max-width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    margin-bottom:30px ;
    border: 10px solid #97BFFC;
    border-width: thick;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    /* height: 405px; */
    padding:0px;
    }
  
 
  
  @media screen and (max-width: 991px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;

    }
  }
  
  @media screen and (max-width: 768px) {
    .prqrocketcoding-text-wrapper {
      padding-bottom: 65px;
    }
  
    .prqrocketcoding-col {
      max-width: 100%;
      flex-basis: 100%;
    }
    .prqrocketcoding-img-wrapper{
        width: 100%;
    }
    .prqrocketcoding-img{
        width: 100%;

    }
    
    
  }