.tarif-section {
    background-color: #fff ;
    color: #004AAD;
    padding: 100px 0;
  }
  .tarif-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  
  .tarif-col {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 70%;
    flex-basis: 50%;
  }
  
  .tarif-text-wrapper {
    padding-top: 0;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .tarif-heading {
    margin-bottom: 30px;
    color: #004AAD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    text-align: center;
    width: 100%;
  }
  .tarif-subtitle {
    margin-bottom: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.02em;
    margin-top: 6px;
  }

  .tarif-card{
    border: 10px solid #fff;
    background:  #004AAD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 316px;
    color : #97BFFC ;
    
  }
    
  
  .slick-slide > div{
    margin : 5px 20px;
  }
  .slick-list{
    margin : 0 -20px;


  }
  .tarif-card-top > img {
    width: 100%;
    height: 5rem;
    object-fit: fill;
    border-radius: 20px;
    margin-top: -10px;

    

  }
  .tarif-card-bottom{
    text-align: center;

  }
  .tarif-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .tarif-card-bottom{
    margin: 10px 20px;

  }
 
   .tarif-title h2{
    color: #f7f8fa;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 5px;
  }

.tarif-desc p{
    color: #f7f8fa;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
}
.tarif h6{
    color: #f7f8fa;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;

}


  
 
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
   
  
    .tarif-col {
      max-width: 100%;
      flex-basis: 100%;
    }
    
   
    
  }

